[Unit]
Description=LEGO MINDSTORMS EV3 Bluetooth
BindsTo=sys-devices-platform-legoev3\x2dbluetooth.device

[Service]
Type=simple
ExecStart=/usr/bin/hciattach -n -t 30 /dev/ttyS2 texas 2000000 noflow nosleep

