Source: ev3dev-base
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Section: embedded
Homepage: http://www.ev3dev.org
Vcs-Git: git://github.com/ev3dev/ev3dev-base.git
Vcs-Browser: https://github.com/ev3dev/ev3dev-base

Package: ev3dev-base
Section: metapackages
Architecture: armel
Depends: ev3-config, firmware-ev3, ev3-systemd, ${misc:Depends}
Breaks: linux-image-ev3dev (<= 18)
Conflicts: ev3dev-flash-kernel
Description: Meta package that installs all of the required ev3dev packages.
 This package is only useful for LEGO MINDSTORMS EV3 running an ev3dev kernel.
